<div *ngIf="visible(category)" class="category-container col-12 pb-2 mt-1 d-inline-block">
  <div class="col-12 d-inline-block">
    <img class="float-left d-inline-block mr-2" 
      src="assets/images/{{game}}/categories/{{category.src}}.png"
      [style.opacity]="allChecked(category) ? '1' : '0.5'" />
    <h3 class="category-header float-left">{{category.name}}</h3>
  </div>
  <div class="category-groups col-12 border-top" [ngClass]="[(category.groups)?'d-inline-block':'display-flex', (settings.nightMode)?'border-secondary':'']">
    <div *ngFor="let subCategory of category.subCategories" [ngClass]="(visible(subCategory))?'col-6 float-left d-inline-block':''" >
      <app-category [category]="subCategory" [(settings)]="settings"></app-category>
    </div>
    <div *ngFor="let group of category.groups">
      <app-group [group]="group" [(settings)]="settings"></app-group>
    </div>
  </div>
</div>