img {
    width: 40px;
    height: 40px;
}

.category-groups {
    margin-top: -5px;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.fixed-target:target {
    display: block;
    position: relative;
    top: -80px; 
    visibility: hidden;
}

.minimalize {
    position: absolute;
    bottom: 0;
    right: 0;
}

.fa-minus {
    display: inline-block;
}
.collapsed .fa-minus {
    display: none;
}

.fa-plus {
    display: none;
}
.collapsed .fa-plus {
    display: inline-block;
}