<div *ngIf="visible(category)" class="category-container col-12 pb-2 mt-2 d-inline-block">
  <div class="col-12 d-inline-block">
    <img class="float-left d-inline-block mr-2" 
      *ngIf="category.src"
      src="assets/images/{{game}}/categories/{{((category.src === 'winecellar' || category.src === 'cultist') && allChecked(category))?'closed_':''}}{{category.src}}.png"
      [style.opacity]="allChecked(category) ? '1' : '0.5'" />
    <div class="fixed-target" id="{{category.src}}"></div>
    <h3 class="category-header float-left">{{category.name}}</h3>
    <div class="float-right minimalize">
      <a href="#{{category.src}}-groups" class="text-secondary" [ngClass]="(initialMinimized)?'collapsed':''"
        data-toggle="collapse" [(attr.aria-expanded)]="!initialMinimized" [attr.aria-controls]="category.src + '-groups'" (click)="minimized = !minimized">
        <i title="collapse" class="fas fa-minus"></i>
        <i title="expand" class="fas fa-plus"></i>
      </a>
    </div>
  </div>
  <div class="border-top pt-2" [ngClass]="(settings.nightMode)?'border-secondary':''">
    <div class="collapse" id="{{category.src}}-groups" [ngClass]="(!initialMinimized)?'show':''">
      <div class="category-groups col-12" [ngClass]="(category.groups)?'d-inline-block':'display-flex'">
        <div *ngFor="let subCategory of category.subCategories" 
          [ngClass]="[visible(subCategory)?'float-left d-inline-block':'', (visible(subCategory) && !subCategory.spread)?'col-xs-12 col-lg-6':'', (visible(subCategory) && subCategory.spread)?'col-12':'']">
          <app-category [category]="subCategory" [(settings)]="settings"></app-category>
        </div>
        <div *ngFor="let group of category.groups">
          <app-group [spread]="category.spread" [group]="group" [(settings)]="settings"></app-group>
        </div>
      </div>
    </div>
  </div>
</div>