<div *ngIf="settings && categories" class="app-container" [ngClass]="(settings.nightMode)?'bg-lightdark text-light':'bg-white text-dark'">
  <nav class="navbar navbar-expand-md border-bottom sticky-top" [ngClass]="(settings.nightMode)?'navbar-dark bg-dark border-secondary':'navbar-light bg-light'">
    <a class="navbar-brand" href="#">{{game}} Item Checklist <i class="fas fa-check text-success"></i></a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <!-- TODO: Add nav items -->
      </ul>

      <ul class="navbar-nav">
        <a class="nav-link border-right pr-3" href="#" id="settings"  data-toggle="collapse" data-target="#more-options" aria-expanded="false" aria-controls="more-options"
          [ngClass]="(settings.nightMode)?'border-secondary':''"><i class="fas fa-cog"></i> Settings</a>
        <li class="nav-item dropdown pl-2">
          <a class="nav-link dropdown-toggle" href="#" id="reset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-trash-alt text-danger"></i></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="reset">
            <a class="dropdown-item text-danger" href="#" (click)="reset()"><b>!</b> Reset everything</a>
            <a class="dropdown-item" href="#">Cancel</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="collapse border-bottom border-secondary pt-1 sticky-top sticky-offset" [ngClass]="(settings.nightMode)?'bg-dark':'bg-light'" id="more-options">
    <app-settings *ngIf="categories" [(settings)]="settings" [categories]="categories" (toggleOrganized)="toggleOrganized()"></app-settings>
  </div>
  <div class="container mt-3">
    <div class="row">
      <div class="col-12" *ngFor="let category of categories">
        <app-category [category]="category" [(settings)]="settings"></app-category>
      </div>
    </div>
  </div>
</div>