<div *ngIf="settings && categories" class="app-container" [ngClass]="(settings.nightMode)?'bg-lightdark text-light':'bg-white text-dark'">
  <nav class="navbar navbar-side border-right float-left sticky-top border-secondary d-none d-md-flex" [ngClass]="(settings.nightMode)?'navbar-dark bg-dark':'navbar-light bg-light'">
    <app-navigation [categories]="categories" [(settings)]="settings" [disabled]="page != 0" class="h-100"></app-navigation>
  </nav>
  <nav class="navbar navbar-expand border-bottom border-secondary sticky-top justify-content-between" [ngClass]="(settings.nightMode)?'navbar-dark bg-dark':'navbar-light bg-light'">
    <div class="navbar-nav">
      <a class="navbar-brand float-left" href="#" (click)="setPage(0)"><span class="d-none d-sm-inline-block">{{game}} Item</span> Checklist <i class="fas fa-check text-success"></i></a>
      <a class="nav-link float-left" href="#" (click)="setPage(1); settings.clickedNewAbout = true">About <span *ngIf="!settings.clickedNewAbout" class="text-danger">[new!]</span></a>
    </div>

    <ul class="navbar-nav">
      <a class="nav-link border-right pr-3" href="#" id="settings"  data-toggle="collapse" data-target="#more-options" aria-expanded="false" aria-controls="more-options"
        [ngClass]="(settings.nightMode)?'border-secondary':''">
          <span class="d-none d-sm-inline-block"><i class="fas fa-cog"></i> Settings</span>
          <span class="d-inline-block d-sm-none"><i class="fas fa-bars"></i></span>
      </a>
      <a class="nav-link ml-2" href="#" id="reset" (click)="erasePrompt = !erasePrompt"><i class="far fa-trash-alt text-danger"></i></a>
      <div *ngIf="erasePrompt">
        <span class="navbar-text float-left">Erase everything?</span>
        <a class="nav-link text-danger float-left" href="#" (click)="reset()">Yes</a>
        <a class="nav-link float-left" href="#" (click)="erasePrompt = false">No</a>
      </div>
    </ul>
  </nav>
  <div class="options-wrapper sticky-top sticky-offset">
    <div [ngClass]="(settings.nightMode)?'bg-dark':'bg-light'" id="more-options" class="border-bottom border-secondary collapse">
      <app-settings *ngIf="categories" [(settings)]="settings" [categories]="categories" (toggleOrganized)="toggleOrganized()"></app-settings>
    </div>
  </div>
  <div class="container mt-3">
    <div class="row">
      <div *ngIf="page === 0" class="page-0">
        <div class="col-12" *ngFor="let category of categories">
          <app-category [category]="category" [(settings)]="settings"></app-category>
        </div>
      </div>
      <div *ngIf="page === 1" class="page-1">
        <div class="col-12">
          <app-about (returnHome)="setPage(0)"></app-about>
        </div>
      </div>
    </div>
  </div>
</div>