<div class="container mt-3 mb-3">
  <div class="row">
    <h3 class="border-bottom col-12" [ngClass]="(settings.nightMode)?'border-secondary':''">Extra Options</h3>
    <form class="col-6">
      <h4 class="border-bottom" [ngClass]="(settings.nightMode)?'border-secondary':''">Display</h4>
      <div class="form-check">
        <input [checked]="settings.nightMode" (change)="settings.nightMode = !settings.nightMode" type="checkbox" class="form-check-input" id="night-mode">
        <label class="form-check-label" for="night-mode">Night Mode</label>
      </div>
    </form>
  </div>
</div>