<div class="container mt-3 mb-3">
  <div class="row">
    <form class="col-12 col-lg-6 float-left">
      <h4 class="border-bottom" [ngClass]="(settings.nightMode)?'border-secondary':''"><i class="fas fa-desktop pr-1"></i> Display</h4>
      <div class="col-12">
        <div class="form-check">
          <input [checked]="settings.nightMode" (change)="settings.nightMode = !settings.nightMode" type="checkbox" class="form-check-input" id="night-mode">
          <label class="form-check-label" for="night-mode">Night Mode <i class="fas fa-moon"></i></label>
        </div>
        <div class="form-check">
          <input [checked]="settings.organized" (change)="toggleOrganizedValue()" type="checkbox" class="form-check-input" id="organized">
          <label class="form-check-label" for="organized">Organized Mode <i class="fas fa-sitemap"></i></label>
        </div>
      </div>
    </form>
    <form class="col-12 col-lg-6 float-left">
      <h4 class="border-bottom" [ngClass]="(settings.nightMode)?'border-secondary':''"><i class="fas fa-suitcase pr-1"></i> Item Management</h4>
      <div class="col-12 col-sm-6 col-lg-12 col-xl-6 float-left">
        <div class="form-check">
          <input [checked]="settings.onlyEmpty" (change)="settings.toggleOnlyEmpty()" type="checkbox" class="form-check-input" id="incomplete-only">
          <label class="form-check-label" for="incomplete-only">Only show incomplete <i class="fas fa-times"></i></label>
        </div>
        <div class="form-check">
          <input [checked]="settings.onlyChecked" (change)="settings.toggleOnlyChecked()" type="checkbox" class="form-check-input" id="checked-only">
          <label class="form-check-label" for="checked-only">Only show completed <i class="fas fa-check"></i></label>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-12 col-xl-6 float-left mt-1 mt-sm-0 mt-md-1">
        <span class="font-weight-bold">Select Group Filters</span>
        <a href="#" class="text-secondary toggle-all" (click)="toggleAll(settings.groupFilters)"><i title="Toggle All" class="fas fa-chevron-circle-left ml-2"></i></a>
        <div class="w-100 d-inline-block">
          <div class="float-left" *ngFor="let filter of settings.groupFilters">
            <app-item [item]="filter" [(settings)]="settings" [folderName]="'groups'"></app-item>
          </div>
        </div>
      </div>
      <div class="col-12 float-left">
        <span class="font-weight-bold">Select Special Filters</span>
        <a href="#" class="text-secondary toggle-all" (click)="toggleAll(settings.specialFilters)"><i title="Toggle All" class="fas fa-chevron-circle-left ml-2"></i></a>
        <div class="w-100 d-inline-block">
          <div class="float-left" *ngFor="let filter of settings.specialFilters">
            <app-item [item]="filter" [(settings)]="settings" [folderName]="'special-filters'"></app-item>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>